html, body {
  height: 100%;
}

body {
  /* сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  position: relative;
  font-display: block;
}

a {
  color: inherit;
  /*будет наследоваться от родительского блока*/
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table { /*чтобы границы ячеек сливались*/
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /*меняет алгоритм расчета ширины и высоты элемента, теперь включает поля и границы, но не отступы*/
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  position: relative;
  overflow: hidden; /*чтобы не было горизонтального скролла*/
  width: 100%;
}

